<html>
<head>
    <title>Customer Churn Predictor</title>
</head>

<body>
    <div>
        <h1>Please Choose a model</h1>

        <form method="get" action="/dtree">
            <label for="Age">Age:</label><br>
            <input type="text" id="age" name="age"><br>

            <label for="Gender">Gender:</label><br>
            <input type="text" id="gender" name="gender"><br>
            
            <label for="Location">Location:</label><br>
            <input type="text" id="location" name="location"><br>
            
            <label for="Bill">Bill:</label><br>
            <input type="text" id="bill" name="bill"><br>
            
            <label for="sub-len">Subscription Length:</label><br>
            <input type="text" id="sub-len" name="sub-len"><br>
            
            <label for="total-gb">Total Usage (GB):</label><br>
            <input type="text" id="total-gb" name="total-gb"><br>
            
            <input type="submit" value="Submit"><br><br>
        </form>      
    </div>
</body>
</html>